<header>
  <h1></h1>
</header>

<table class="content-table accounts">
  <thead>
    <tr>
      <th class="account-info">
        Account
      </th>
      <th class="account-updated">
        Last Active
      </th>
      <th class="account-balance">
        Balance
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each account in this}}
    {{/each}}
  </tbody>
</table>
