<header>
  <h1 class="logo">
  </h1>

  {{#if session.id}}
    <nav role="navigation">
      <ul>
        <li></li>
      </ul>
    </nav>
  {{/if}}
</header>

<main role="main">
  {{outlet}}
  {{render "sidebar"}}
</main>

<footer>
  <span>Banco Financial Group Website &copy; {{year}}</span>
</footer>
