<nav class="sidebar" role="navigation">
  <ul>
    <li {{bind-attr class="inWelcome:active"}}>
    </li>
    <li {{bind-attr class="inAccounts:active"}}>
    </li>
    <li {{bind-attr class="inTransfers:active"}}>
    </li>
  </ul>
</nav>
